<h2>Author info</h2>
    <p>
    Table is maintained by <a href="https://marcin.juszkiewicz.com.pl/">Marcin Juszkiewicz</a> &mdash; AArch64/Arm developer working at Red Hat as Linaro assignee.
    </p>

<h2>My table pages</h2>
<ul>
	<li><a href="https://gpages.juszkiewicz.com.pl/arm-socs-table/arm-socs.html">AArch64 SoC features table</a></li>
	<li><a href="https://gpages.juszkiewicz.com.pl/arm-socs-table/arm-cpu-cores.html">AArch64 cpu cores information</a></li>
	<li><a href="https://gpages.juszkiewicz.com.pl/syscalls-table/syscalls.html">Linux kernel system calls for all architectures</a></li>
	<li><a href="https://gpages.juszkiewicz.com.pl/sbsa-ref-status/bsa-sbsa.html">Arm BSA/SBSA checklist</a></li>
</ul>

<h2>How to help</h2>
    <p>
    Sources used to generate table are available in <a
    href="https://github.com/hrw/{{ git_repo }}/">git repository at github</a>.
    Patches are always welcomed.
    </p>

<h2>Build info</h2>
    <p>Table generated on <strong>{{ generate_time }} UTC</strong>.</p>

