<style type="text/css">

table {
        border: 1px solid #000;
}

table th {
        text-align: center;
        padding: 0.5em;
        line-height: 2em;
        color: white;
}

table thead {
        border: 1px solid black;
        background-color: grey;
}

table.dataTable thead th {
  text-align: center
}

table td {
        padding: 0.5em;
}

table.dataTable.stripe>tbody>tr:nth-child(odd)>*,table.dataTable.display>tbody>tr:nth-child(odd)>* {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.023);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-stripe), 0.20);
}

table td.category_title {
        font-weight: bold;
        font-size: 120%;
}
table td.title {
        font-weight: bold;
}
table td.mark {
        text-align: center;
        font-weight: bold;
}

.legacy, #infotable tbody tr.odd td.legacy {
        background-color: lightpink;
}

/* FixedColumns forces white here */
table.dataTable thead tr > .dtfc-fixed-start {
        background-color: grey !important;
}

</style>
